__pycache__
gnomad_analysis/
*.log
*.txt
*.docx
*.pyc
*.xlsx
*.csv
.DS_Store
network_images/
network_imgs/
*.zip
8_18_20/
8_19_20/
exm652227_pairs/
cftr_pathogenic/
clinical_mega_gnomAD_freq/
.idea/
gnomad_analysis/
.vscode
docker/
MEGA_probes/
build/
dist/
*.spec
# Don't ignore these files
!requirements.txt
orignal/
