pandas==1.0.5                                                                   
numpy==1.18.5                                                                   
xlrd==1.2.0
pytest==6.2.1
pyinstaller==3.6
