pandas==1.0.5
numpy==1.18.5
xlrd==1.2.0
pytest==6.2.1
cython==0.29.23
matplotlib==3.2.2
pytest-cov==2.11.1
sidetable==0.7.0
snakeviz==2.0.1
pylint==2.7.2
coverage==5.5
tqdm==4.42.1
typer==0.3.2
click==7.1.2
